@inherits LayoutComponentBase

<!-- <main> @Body </main> -->

<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>